<%- include('includes/navigation.ejs') %>
<% if (errorMessage) { %>
  <div class="error">
    <%= errorMessage %>
  </div>
<% } %>
<div class="container login">
    <form class="form" action="/update-password" method="POST">
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">New Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" name="newPassword" required>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword2" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword2" name="confirmPassword" required>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="token" value="<%= token %>">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Update Password</button>
      </form>
</div>


<%- include('includes/end.ejs') %>